**/bin/*
**/obj/*
**_ReSharper*
**/.sonar/*
**.suo
**.user
**.dbmdl
**.schemaview
DB/**/sql
**.orig
**.rdl.data
**/StyleCopViolations.xml
_references.js
*_*_*.csproj.swp
*_*_*.csproj
*.nupkg
**/node_modules/**
**/react-widgets/dist/**
**/react-widgets/*.log
**/.idea/
**/logs/**
dist
.dist
**/.vs/
.vscode/launch.json
.vscode/tasks.json

.dotnet/
